.about-text {
  font-family: 'CustomFont', sans-serif;
}
.about_title {
  margin: 100px 0 100px 100px;
  width: 52%;
  font-size: 77px;
}
.about_img_top {
  /* height: 883px; */
  /* background: orange; */
  position: relative;
  margin-bottom: 100px;
}
.about_img_top_list {
  position: sticky;
  top: 150px;
  height: 600px;
  display: flex;
  overflow: hidden;
}
.about_img_bottom_list {
  position: sticky;
  top: 150px;
  height: 600px;
  display: flex;
  overflow: hidden;
  transform: translateX(400px);
  opacity: 0;
}
.about_img_bottom_text {
  width: 500px;
  font-size: 20px;
  /* transform: translateY(200px); */
  /* position: sticky; */
  position: fixed;
  top: 500px;
  opacity: 0;
  display: none;
  z-index: 1;
}
