.editor_outer {
  height: calc(100% - 46px);
  /* display: flex; */
  /* margin-top: 46px; */
  overflow: hidden;
}
/* .ant-modal-root {
  z-index: 999999;
} */
.content_title {
  height: 50px;
  width: 100%;
}
.select_type {
  position: absolute;
  bottom: 20px;
  right: 50px;
  z-index: 999999;
}
